<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>add-new-message</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/messages.css}"/>
</head>
<body>

<form action="#" th:action="@{/add}" id="add_message" th:object="${message}" method="post">
    <div class="form-group">

       <textarea form="add_message" rows="4" cols="50" placeholder="Enter your text here"
                 name="messageText" th:field="*{messageText}"></textarea>
        <br/>
        <input type="hidden" th:field="*{dateOfCreation}"/>
    </div>

    <button type="submit" class="btn btn-primary">Add</button>
<!--    <span th:text="${#fields.hasErrors('messageText')}"></span>-->
    <br/><br/>
    <span th:if="${#fields.hasErrors('messageText')}"
          th:errors="*{messageText}">Error message</span>
</form>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>