<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Public Message Board</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/messages.css}"/>
</head>
<body>
<div id="message" th:each="message : ${messages}"  >

    <p >
        <span id="wiadomosc" th:text="${message.getMessageText()}"></span>
    </p>
    <p class="date-id">
        Created on: <span  th:text="${message.getDateOfCreation()}"></span>
    </p>
   <p class="date-id"> Message id: <span id="id" th:text="${message.getId()}">Message id: </span>
   </p>


</div>


</body>
</html>